*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(rgb(49, 48, 48), rgb(51, 48, 48));
    background-size: cover;
    background-position: center; 
    height: 100vh;
}
h1 {
    color: rgb(255, 255, 255);
}